---
layout: default
---

{%- if page.title -%}
<h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{{ content }}

{%- if site.posts.size > 0 -%}
<ul class="posts">
  <li>
    <h1 id="posts-label">posts</h1>
  </li>

  <li>
    <h2 class="post-title">About me</h2>
    <div class="post">
      My name is Jian Wu. I am working as a quant developer in an investment bank in Copenhagen, Denmark. I held a M.Sc degree from 
      <a href="">Unversity of Copenhagen</a>, and one B.Sc from <a href="">Lanzhou University</a>, China. My research topic in my master is Machine Learning and 
      Computer Vision. The final master thesis is to explore the application of deep learning in numerical optimization. My current
      interest is in computational finance, quantitative trading and deep learning. I have a few years' experience on C++/C# and 
      Python programming.
    </div>
  </li>
  {%- for post in site.posts -%}
  <li>
    {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
    <a class="post-link" href="{{ post.url | relative_url }}">
      <h2 class="post-title">{{ post.title | escape }}</h2>
    </a>
    <div class="post-meta">
      <ul class="post-categories">
        {%- for tag in post.categories -%}
        <li>{{ tag }}</li>
        {%- endfor -%}
      </ul>
      <div class="post-date"><i class="icon-calendar"></i>{{ post.date | date: date_format }}</div>
    </div>
    <div class="post">
      {%- if site.show_excerpts -%}
      {{ post.excerpt }}
      {%- endif -%}
    </div>
  </li>
  {%- endfor -%}
</ul>

<!-- <p class="feed-subscribe"><svg class="svg-icon orange">
		<use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
	</svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p> -->
{%- endif -%}